*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

html,
body{
    scroll-behavior: smooth;
    background: #051520;

}

a{
    text-decoration: none;
}

ul,
li{
    list-style: none;
}

button{
    cursor: pointer;
}