.header{
    width: 100%;
    height: 80px;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .container{
        width: clamp(300px, 80%, 1200px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
        height: 100%;
        position: relative;
        z-index: 100;
    }

    &__inner{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo{
        width: auto;
        height: 50px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        & span{
            font-size: 20px;
            font-weight: 600;
            color: #000000;
        }

        & img{
            width: 50px;
            height: 50px;
            object-fit: contain;
            border-radius: 40px;
        }
    }

    &__menu{
        display: flex;
        align-items: center;
        gap: 20px;

    }

    &__list{
        display: flex;
        align-items: center;
        gap: 20px;
        
        &-item{
            list-style: none;

            &-link{
                text-decoration: none;
                color: #494949;
                font-size: 18px;
                font-weight: 600;
                transition: all .3s ease;

                &:hover{
                    color: #000000;
                }
            }
        }
    }

    &__box{
        display: flex;
        align-items: center;
        gap: 20px;

        &-link{
            text-decoration: none;
            color: #535353;
            font-size: 16px;
            font-weight: 600;
            transition: all .3s ease;
            width: 90px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            border: 1px solid #535353;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            
            &:hover{
                color: #000000;
                border: 1px solid #000000;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.623);
            }

            &:active{
                color: #ffffff;
                border: 1px solid #ffffff;
                background: #000;
                box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.623);
            }
        }
    }

    &__input{
        width: 200px;
        height: 35px;
        border-radius: 10px;
        border: 1px solid #535353;
        padding: 0px 15px;
        outline: none;
        display: none;
    }

    &__cart{
        width: 35px;
        height: 35px;
        display: none;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;

        &-count{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: none;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: #ff0000;
            color: #ffffff;
            font-size: 12px;
            font-weight: 600;
        }

        &-icon{
            width: 24px;
            height: 24px;
            object-fit: contain;
            fill: #ff0000;
            transition: all .3s ease;

            &:hover{
                fill: #000000;
            }
        }
    }

    &__logout{
        width: auto;
        height: 35px;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        padding: 0px 20px;
        border-radius: 20px;
        border: 1px solid #535353;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #fff;
    }

    &__burger{
        width: 35px;
        height: 25px;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        position: relative;

        & span{
            width: 100%;
            height: 3px;
            background-color: #000000;
            border-radius: 1px;
        }
    }
}



