.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #000;

    &__inner{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 30px 20px;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.336);
        position: relative;
    }

    &__title{
        font-size: 28px;
        font-weight: 600;
        color: #000000;
    }

    &__form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: relative;
    }

    &__username{
        width: 100%;
        padding: 0px 15px;
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        position: absolute;
        top: -15px;
    }

    &__password{
        width: 100%;
        padding: 0px 15px;
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        position: absolute;
        top: 40px;
    }

    &__input{
        width: 100%;
        height: 35px;
        border-radius: 10px;
        border: 1px solid #000000;
        padding: 0px 15px;
        outline: none;
    }

    &__btn{
        width: 100px;
        height: 35px;
        border-radius: 10px;
        border: 1px solid #000000;
        padding: 0px 15px;
        outline: none;
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        cursor: pointer;
        transition: all .3s ease;

        &:hover{
            color: #ffffff;
            background: #000000;
        }

        &:active{
            color: #ffffff;
            background: #000000;
        }
    }

    &__link{
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: all .3s ease;

        & span{
            color: blue;
            text-decoration: underline;
        }
    }
}

.toast{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}