main{
    width: clamp(300px, 80%, 1200px);
    margin: 0 auto;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;

    & h1{
        font-size: 40px;
        font-weight: 600;
        color: #000000;
        text-align: center;
    }

    .main__cards{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        justify-content: center;
    }

    .card{
        width: 300px;
        height: 450px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;

        &:hover{
            transform: scale(1.05);
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.5);
            transition: all .3s ease;

        }

        &__img{
            width: 100%;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__img img{
            width: 100%;
            height: 150px;
            border-radius: 5px;
        }

        &__text{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            & h2{
                font-size: 20px;
                font-weight: 600;
                color: #000000;
            }

            & p{
                font-size: 16px;
                font-weight: 400;
                color: #494949;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        &__btn{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            &-add{
                width: 200px;
                height: 35px;
                border-radius: 20px;
                border: 1px solid #535353;
                padding: 0px 15px;
                outline: none;
                font-size: 16px;
                font-weight: 600;
                color: #535353;
                cursor: pointer;
                transition: all .3s ease;

                &:hover{
                    color: #000000;
                    border: 1px solid #000000;
                }

                &:active{
                    color: #ffffff;
                    border: 1px solid #ffffff;
                    background: #000;
                }

            }
        }
    }

    .pagination{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;

        & span{
            width: 30px;
            height: 30px;
            border: 1px solid #000000;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 600;
            color: #000000;
            cursor: pointer;
            transition: all .3s ease;

            &:hover{
                color: #ffffff;
                background: #000000;
            }

            &:active{
                color: #ffffff;
                background: #000000;
            }
        }
    }
}